#shopping_list_content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}
h1 {
  text-align: center;
}
#form_container {
  display: flex;
  justify-content: center;
}
#shopping_list_container {
  display: flex;
  margin-left: 50px;
}
body {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(white, black);
  background-repeat: no-repeat;
  height: 1000px;
}
